@import './reset.css';
@import './common.less';
@import './transition.css';
@import './var.css';
html,
body,
#app {
	height: 100%;
	overflow: hidden;
	user-select: none;
	font-family:'M+ P Type-1 (basic latin) Thin', 'M+ Type-1 (general-j) Thin';
}
.bd {
	border: 1px solid #000;
}
@font-face{
	font-family: 'M+ P Type-1 (basic latin) Thin';
	src: url('@/assets/font/mplus-1p-thin-sub.ttf');
}
@font-face{
	font-family: 'M+ Type-1 (general-j) Thin';
	src: url('@/assets/font/mplus-1-thin-sub.ttf');
}