:root {
	--menu-item-height: 105px;

	--text-color: #000;
	--text-color-active: #999;
	--bg-color: #fff;

	--page-top: 120px;
	--page-bottom: 5.21vw;
	--page-left: 144px;
	--page-right: 7.5vw;

	--col-gap: 240px;
	--row-gap: 210px;

	--icon-size: 31px;
}
